@import '../variables.scss';

header {
  // height: 100vh;
  background-color: rgba(255,255,255, 0.85);
  overflow: hidden;
  min-height: 70vh;

  .album-info {
    font-size: 28px;
    padding-top: 140px;

    a {
      font-weight: bold !important;
      text-decoration: underline;
    }
  }

  .vote {
    background: #8ab51d;
    color: #fff;

    h2 {
      font-size: 18px;
      margin-bottom: 20px;

      img {
        margin: 0 20px;
      }

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          color: #981d1d;
        }
      }
    }
  }

  .main-logo {
    @include absolute-center;
    top: -45px;
    background-image: url('/img/logo.png');
    background-size: 100%;
    width: 370px;
    height: 320px;
  }
  .arrow-down {
    @include absolute-center;
    width: 30px;
    height: 30px;
    text-align: center;
    top: initial;
    bottom: 30px;

    a {
      color: white;
    }
    //   padding: 0.1em 0.3em 0;
    //   border-radius: 50%;
    //   background-color: rgba(255,255,255, 0.5);
    //   -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    //   -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    //   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    // }
  }

  .row,
  .col-md-4,
  .col-md-8 {
    height: 100%;
  }

  .black {
    height: 100%;

    .album {
      margin-top: 55px;
      display: inline-block;
      background-image: url('/img/album.jpg');
      background-size: 100%;
      width: 45%;
      height: 370px;
    }
  }
  .title {
    margin-bottom: 25px;
  }
  .album {
    margin: 10px 0 25px;
  }

  small {
    color: #6f6f6f;
    font-size: 65%;
    margin-bottom: 50px;
  }
}

.download {
  background-size: 100%;
  width: 150px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;

  &.google {
    background-image: url(https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png);
  }

  &.apple {
    // background-image: url("https://images.apple.com/itunes/marketing-on-music/images/badge_artwork_2_option_large_2x.jpg");
    width: 109px;
    background-position-y: 8px;
    background-image: url('//tools.applemusic.com/assets/shared/badges/en-us/music-lrg.svg');
  }

  &.spotify {
    background-image: url('/img/spot.png');
    width: 112px;
    background-position-y: 9px;
  }
}

.previousRelease.text-center {
  margin-top: 50px;
  background: #f3f3f3;
  padding: 50px 0;
}
